<!DOCTYPE html>
<html>
  <head>
    <title>Redirect Checker - cmlabs Chrome Extension</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/popup.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/redirectchecker.css"
    />
  </head>
  <body>
    <div class="header__container" id="navbar">
      <div class="logo__container">
        <img
          src="https://cmlabs-co.s3.ap-southeast-1.amazonaws.com/logos/cmlabs-logo-new.png"
          alt="logo cmlabs"
          class="logo__img"
        />
        <span>Redirect Checker</span>
      </div>
      <div class="login__container">
        <a href="#" class="btn btn__login">Login</a>
      </div>
    </div>

    <div class="popup">
      <div id="header" class="hero__extension">
        <img
          src="../../assets/icon/icons-writing.png"
          alt="Icon Pagespeed Test"
          class="icon__extension"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur. Amet ornare dignissim sed id
          turpis dolor.
        </p>
      </div>

      <div
        id="alert-limit"
        class="alert alert-warning alert-dismissible fade show alert__extension text-14 border-0 d-none"
        role="alert"
      >
        You have reached the usage limit of this tool.
        <strong class="fw-bold">log in / register</strong> yourself.
        <img
          src="../../assets/icon/close.svg"
          alt="Logo Close Extension"
          class="btn__alert-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        />
      </div>

      <div class="col-12">
        <div
          class="card p-3 flex flex-row align-items-center justify-content-between form__container"
        >
          <div class="d-flex input__url">
            <img
              src="../../assets/icon/guard.svg"
              alt="Icon Pagespeed Test"
              class="img__guard"
            />
            <span id="url-container" class="text-white"></span>
          </div>

          <button
            class="btn w-25 px-2 py-1 text-white d-flex justify-content-center align-items-center gap-2 btn__form"
            id="crawling-status"
          >
            <span> Crawling </span>
            <div
              class="container-loading d-none justify-content-end align-items-center icon__loader"
              id="loading"
            >
              <img
                class="loader"
                src="../../assets/icon/loader.svg"
                alt="Loading Icon"
              />
            </div>
          </button>
          <button
            id="log-button"
            class="btn bg-white w-25 px-2 py-1 d-none justify-content-center btn__form"
          >
            Re-Test!
          </button>
          <button
            id="btn-limit"
            class="btn bg-white w-25 px-2 py-1 d-none justify-content-center btn__form"
          >
            Limit
          </button>
        </div>

        <div id="result"></div>

        <footer class="col-12 mt-3 d-block info__text" id="read__latest-blog">
          The crawling process will take some time, while waiting please read
          our latest blog
          <a href="https://cmlabs.co/blog" target="_blank">here</a>
        </footer>

        <div class="details__container d-none" id="preview-detail">
          <a
            id="link-preview-detail"
            href="#"
            target="_blank"
            class="see__details"
            >Want to see more details? See details</a
          >
          <img
            src="../../assets/icon/external-link.svg"
            alt="icon arrow"
            class="detail__icon"
          />
        </div>
      </div>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
