<!DOCTYPE html>
<html>
  <head>
    <title>Ping Checker - cmlabs Chrome Extension</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="popup" style="width: 300px;">
      <div class="form__container">

        <div class="form-group">
          <span id="url-input"></span>
        </div>

       <div class="form-group">
          <label for="agent-type">Agent</label>
            <select class="form-control" id="agent-type">
                <option value="">Select User Agent</option>
                <option value="All">All</option>
                <option value="NinjaBot">NinjaBot</option>
                <option value="Googlebot">Googlebot</option>
                <option value="Googlebot-Mobile">Googlebot-Mobile</option>
                <option value="Googlebot-Image">Googlebot-Image</option>
                <option value="Mediapartners-Google">Mediapartners-Google</option>
                <option value="Adsbot-Google">Adsbot-Google</option>
                <option value="Bingbot">Bingbot</option>
                <option value="Slurp">Slurp</option>
                <option value="msnbot">msnbot</option>
                <option value="msnbot-media">msnbot-media</option>
                <option value="Teoma">Teoma</option>
                <option value="twiceler">twiceler</option>
                <option value="Gigabot">Gigabot</option>
                <option value="Scrubby">Scrubby</option>
                <option value="Robozilla">Robozilla</option>
                <option value="ia_archiver">ia_archiver</option>
                <option value="baiduspider">baiduspider</option>
                <option value="naverbot">naverbot</option>
                <option value="yeti">yeti</option>
                <option value="yahoo-mmcrawler">yahoo-mmcrawler</option>
                <option value="psbot">psbot</option>
                <option value="asterias">asterias</option>
                <option value="yahoo-blogs">yahoo-blogs</option>
                <option value="Yandex">Yandex</option>
                <option value="Specify">Specify</option>
            </select>
        </div>

        <button class="btn btn-primary d-none" id="submit-btn">Analyze Again!</button>

        <div id="result"></div>

        <div id="loading" class="d-none">
          <div class="spinner-border text-primary" role="status">
          </div>
        </div>

      </div>

      <script src="./index.js"></script>
    </body>
</html>
