/* Header */
.header__container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  min-height: 3.25rem;
  justify-content: space-between;
  align-items: flex-start;  
  width: 23.4375rem;
  padding: 1.25rem 1.5rem;
  background-color: var(--white);
}

.shadow-navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo__container{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logo__img{
    width: 5.53906rem;
    height: 1.5rem;
}

.logo__container span{
    color: var(--Dark-70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

/* btn */
.btn__login{
    display: flex;
    height: 1.5rem;
    padding: 0.375rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: var(--Gray-20);
    color: var(--Dark-60);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.btn__login:hover{
  background: var(--Gray-20);
}

/* Hero Extension */
.hero__extension{    
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.icon__extension{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.hero__extension p{
    width: 18.4375rem;
    color: var(--Primary-130);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 0px;
}

/* Alert */
.alert__extension{
    width: 20.4375rem;    
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: rgba(255, 190, 64, 0.20);
    color: var(--Secondary-70);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.alert__extension strong{
    font-weight: 500;
    text-decoration: underline;
}

.btn__alert-close{
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 1.75rem;
}

.btn__alert-close:hover{
    cursor: pointer;
}

/* Form */
.form__container{
    display: flex;
    width: 20.4375rem;
    padding: 0.75rem 1rem;
    align-items: center;
    align-content: center;
    gap: 0.625rem 1.25rem;
    flex-wrap: wrap;
    border-radius: 0.25rem;
    background: var(--Primary-70);
    margin-bottom: 0.5rem;
}

.label__url{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#url-input{
  color: var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 260px;
  white-space: nowrap;
  text-align: left;
}

.btn__form{
    display: flex;
    width: 18.4375rem;
    padding: 0.375rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    border: 0px;
    background: var(--Gray-20);
    flex-shrink: 0;
    color: var(--Primary-70);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}

.loading-container {
    background-color: var(--Primary-130);
}

#btn-check:hover {
    background: var(--Primary-130);
    color: var(--white);
}

#btn-limit{
  background-color: var(--Gray-80);
  color: var(--Gray-100);
  opacity: 1;
  cursor: default;
}


.icon__loader{
  width: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.info__text{
    color: var(--Dark-70);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 0px;
}

.info__text a{
    color: var(--Primary-70);
    text-decoration-line: underline; 
}

/* Results */
.result__container{
    margin-top: 1.25rem;
}
.result__container .d-flex{
    gap: 0.5rem;
}
.result__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--Dark-70);
    margin-bottom: 0px;
}
.status__result{
    min-width: 51px;
    padding: 4px 8px;
    border-radius: 4px; 
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
}
.online__status{
    background-color: var(--Success-50);
    color: var(--white);
}
.offline__status{
    background-color: rgba(247, 97, 98, 0.2);
    color: rgba(222, 87, 88, 1);
}
.result__container .row{
    margin: 0;
}
.result__container .col-4,
.result__container .col-8{
    padding: 6px 12px;
}
.title__result{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--Dark-70);
}
.desc__result{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #666A74;
}

/* Details Results */
.details__container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
    justify-content: center;
}

.see__details{
    text-decoration: none;
    border-bottom: 0.125rem solid var(--Primary-70);
    color: var(--Dark-70);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    padding-bottom: 0.25rem;
}

.detail__icon{
    width: 1.25rem;
    height: 1.25rem;
}