<!DOCTYPE html>
<html>
  <head>
    <title>SSL Checker - cmlabs Chrome Extension</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/popup.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../assets/css/ssl-checker.css"
    />
  </head>
  <body>
    <div class="header__container" id="navbar">
      <div class="logo__container">
        <img
          src="https://cmlabs-co.s3.ap-southeast-1.amazonaws.com/logos/cmlabs-logo-new.png"
          alt="logo cmlabs"
          class="logo__img"
        />
        <span>SSL CHECKER</span>
      </div>
      <div class="login__container">
        <a href="#" class="btn btn__login d-none">Login</a>
      </div>
    </div>

    <div class="popup">
      <div id="header" class="hero__extension">
        <img
          src="../../assets/icon/code.svg"
          alt="Icon SSL Checker"
          class="icon__extension"
        />
        <p>Ensure the TLS Certificate and Website's SSL Validity</p>
      </div>

      <!-- Alert -->
      <div
        id="alert-limit"
        class="alert alert-warning alert-dismissible fade show alert__extension border-0 d-none"
        role="alert"
      >
        You have reached the usage limit of this tool. Please
        <strong>log in or register</strong> yourself.
        <img
          src="../../assets/icon/close.svg"
          alt="Logo Close Extension"
          class="btn__alert-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        />
      </div>

      <div
        id="alert-error"
        class="alert alert-danger alert-dismissible fade show alert__extension text-14 border-0 d-none"
        role="alert"
      >
        An error has occured. If this issue persists, please
        <strong class="fw-bold">contact us</strong> for further assistance.
        <img
          src="../../assets/icon/close-danger.svg"
          alt="Logo Close Extension"
          class="btn__alert-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        />
      </div>

      <!-- Form -->
      <div class="form__container">
        <div class="label__url">
          <img
            src="../../assets/icon/shape.svg"
            alt="Icon SSL Checker"
            class="icon__form"
          />
          <span id="url-container"></span>
        </div>
        <div
          id="loading__container"
          class="btn__form loading-container d-flex w-100 justify-content-center align-items-center rounded-1 gap-2"
        >
          <div id="loading" class="d-none fw-bold text-white">Checking</div>
          <img
            src="../../assets/icon/loader.svg"
            alt="Icon Loader Extension"
            class="icon__loader"
          />
        </div>
        <button
          id="btn-limit"
          class="text-center w-100 btn btn__form d-none"
          disabled
        >
          Limit
        </button>
        <div id="btn-check" class="full__col rounded-1">
          <button class="btn btn__form" id="submit-btn">
            Check SSL Again!
          </button>
          <button id="btn-limit" class="btn btn__form d-none">Limit</button>
        </div>
      </div>

      <!-- Consultant Box -->
      <div class="consultation-box d-none" id="consultation-box">
        <h2>
          Want to solve your website problems quickly?<br />Consult with cmlabs
          marketing for free!
        </h2>
        <p>
          Get a free consultation with cmlabs marketing to discuss about how
          cmlabs can help you solve your website quickly and efficiently.
        </p>
        <a href="#" class="btn__marketing">Contact Marketing</a>
      </div>

      <p class="info__text" id="read__latest-blog">
        The checking process will take some time, while waiting please read our
        latest blog <a href="https://cmlabs.co/blog" target="_blank">here</a>
      </p>
      <div id="result"></div>
    </div>

    <script src="../../assets/js/bootstrap.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
