@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-BoldIta.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-RegIta.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-ExtLtIta.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-MedIta.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-ExtLt.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-ExtBlk.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-ExtBdIta.otf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-ExtBlkIta.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Thin.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-LightIta.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-ExtraBold.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-HairlineI.otf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-BlackIta.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../../assets/font/Helvetica-Now-Display/HelveticaNowDisplay-Hairline.otf');
    font-weight: 100;
    font-style: normal;
}