:root {
  --primaryblue: #18a0fb;
  --hover-primaryblue: #42b2fd;
  --primarydark: #092D49;
  --black: #2d393d;
  --darkgrey: #66757f;
  --grey: #ccd6dd;
  --lightgrey: #e1e8ed;
  --white: #ffffff;
  --primaryred: #fb1818;
  --font-primary: "Helvetica Now Display", sans-serif;
}

/*
 *  Scrollbar
 */

 #style-2::-webkit-scrollbar-track
 {
   background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar
 {
   width: 12px;
   background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar-thumb
 {
   background-color: #c3c3c3;
 }

body {
  width: 410px;
  font-family: var(--font-primary) !important;
  margin: 0 auto;
  padding: 20px;
  font-size: 13px !important;
  font-weight: 400;
}

.bg-primaryblue {
  background: var(--primaryblue) !important;
}

.text-primaryblue {
  color: var(--primaryblue) !important;
}

.bg-primarydark {
  background: var(--primarydark) !important;
}

.metachecker-background-text-size {
  background: var(--black) !important;
  width: 65.16px;
  height: 33.16px;
}

.metachecker-background-text-size:hover {
  background: #dcad05;
  cursor: pointer;
}

.metachecker-background-text-size-left-edge {
  background: var(--black) !important;
  width: 35.16px;
  height: 33.16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.metachecker-background-text-size-right-edge {
  width: 38.16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.metachecker-background-text-size.active {
  background: #dcad05;
}

.title-meta {
  color: #1a0dab;
  font-size: 20px;
  line-height: 23px;
}

.color-green {
  color: #009a0f !important;
}

.bg-color-lightyellow {
  background: rgba(255, 222, 104, 0.15) !important;
}

.desc-meta {
  color: #4d5156;
  font-size: 13px;
  line-height: 15px;
}

.meta-title {
  color: var(--black) !important;
  font-weight: 700;
  font-size: 15px;
}

.meta-desc {
  color: var(--black) !important;
  font-weight: 700;
  font-size: 15px;
}

.input-meta-title::placeholder,
.input-meta-description::placeholder,
.input-url::placeholder {
  color: var(--white) !important;
}

input.input-meta-title,
textarea.input-meta-description,
input.input-url-meta-checker {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
}

input.input-meta-title:focus,
textarea.input-meta-description:focus,
input.input-url-meta-checker:focus {
  border-bottom: 1px solid white;
}

.progress-bar_wrap {
  width: 150px;
  height: 11px;
  display: inline-block;
  overflow: hidden;
}

.progress-bar_item {
  display: inline-block;
  height: 100%;
  width: 20%;
  margin-right: 0.8%;
  float: left;
}

.progress-bar_item-1.active,
.progress-bar_item-2.active,
.progress-bar_item-3.active {
  background: var(--primaryblue) !important;
  /* background: #b1f25d; */
}

.progress-bar_item-1.blank,
.progress-bar_item-2.blank,
.progress-bar_item-3.blank {
  background: var(--white) !important;
}

.mr-5 {
  margin-right: 1.25rem !important;
}

.border-radius-5px {
  border-radius: 5px;
}

.disable-mx {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.disable-px {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Loader */
.container-loading {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
  z-index: 1;
}

.loader {
  position: relative;
  width: 20px; /* control the size */
  aspect-ratio: 1;
  display: grid;
  animation: spin 3s infinite linear; 
}

.loader img {
  width: 100%;
  height: 100%;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#title-length-checker {
  min-height: 100px;
}

.text-lg {
  font-size: larger;
}

.mt-error {
  margin-top: 2.5rem;
}

.cta-yellow {
  background: #fbc918;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cta-border-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-cta {
  height: 60%;
  width: 100%;
  background-color: var(--black) !important;
  color: white !important;
  border-radius: 20px !important;
  font-weight: bold;
}

.btn-cta:hover {
  background-color: #191f21 !important;
  color: white !important;
  border-radius: 20px;
  font-weight: bold;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 0.75rem !important;
}

.app-title {
  font-size: 18px;
  /* font-weight: 400; */
}

/* .header-text {
  font-size: 14px;
  line-height: 16px;
} */
.text-16 {
  font-size: 16px;
  line-height: 20px;
}

.text-14 {
  font-size: 14px;
  line-height: 16px;

}

.check-stat {
  padding-block: 10px;
  transition: all .2s ease-in-out;
}
.check-stat-btn:hover {
  background: var(--hover-primaryblue) !important;
  color: var(--white) !important;
  border-bottom: .2px var(--white) solid;
  transform: translateY(-2px);
}

.alert-text {
  color: #F98181;
}

.alert button.btn-close[data-bs-dismiss="alert"] {
  color: #ffcd59 !important;
  font-size: 10px;
  border: 0;
}

.alert button.btn-close[data-bs-dismiss="alert"]:active,
.alert button.btn-close[data-bs-dismiss="alert"]:focus {
  box-shadow: none;
}
