/* Global Variable */
:root {
  --primaryblue: #18a0fb;
  --black: #2d393d;
  --darkgrey: #66757f;
  --grey: #ccd6dd;
  --lightgrey: #e1e8ed;
  --white: #ffffff;
  --primaryred: #fb1818;
  --Gray-20: #F9F9F9;
  --Dark-30: #92959C;
  --Gray-60: #F0F0F0;
  --Gray-80: #D0D0D0;
  --Gray-100: #959595;
  --Dark-60: #3B3F4C;
  --Dark-70: #252A38;
  --Primary-70: #1F95F5;
  --Primary-130: #092D49;
  --Secondary-70: #FFBE40;
  --primary-font: "Plus Jakarta Sans", "Helvetica Now Display", sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar{
  width: .6rem;
  background-color: var(--Gray-80);
}

::-webkit-scrollbar-thumb{
  background-color: var(--Gray-100);
}

/* General */
html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--primary-font);
}

/* Popup Style */
.popup {
  width: 23.4375rem;
  padding: 0rem 1.5rem 1.25rem 1.5rem;
  background-color: var(--white);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}