/* Header */
.header__container {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;
  min-height: 3.25rem;
  justify-content: space-between;
  align-items: flex-start;
  width: 23.4375rem;
  padding: 1.25rem 1.5rem;
  background-color: var(--white);
}

.shadow-navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo__container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logo__img {
  width: 5.53906rem;
  height: 1.5rem;
}

.logo__container span {
  color: var(--Dark-70);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

/* btn */
.btn__login {
  display: flex;
  height: 1.5rem;
  padding: 0.375rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: var(--Gray-20);
  color: var(--Dark-60);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.btn__login:hover {
  background: var(--Gray-20);
}

/* Hero Extension */
.hero__extension {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.icon__extension {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}

.hero__extension p {
  width: 18.4375rem;
  color: var(--Primary-130);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0px;
}

/* Alert */
.alert__extension {
  width: 20.4375rem;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: rgba(255, 190, 64, 0.2);
  color: var(--Secondary-70);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.alert__extension strong {
  font-weight: 500;
  text-decoration: underline;
}

.btn__alert-close {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  position: absolute;
  right: 0.5rem;
  top: 1.25rem;
}

.btn__alert-close:hover {
  cursor: pointer;
}

/* Form */
.form__container {
  display: flex;
  width: 20.4375rem;
  padding: 0.75rem 1rem;
  align-items: center;
  align-content: center;
  gap: 0.625rem 1.25rem;
  flex-wrap: wrap;
  border-radius: 0.25rem;
  background: var(--Primary-70);
  margin-bottom: 0.5rem;
}

.label__url {
  display: inline-block;
  align-items: center;
  gap: 0.75rem;
}

#url-input {
  color: var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
  white-space: nowrap;
  text-align: left;
}

.btn__form {
  display: inline-block;
  width: 18.4375rem;
  padding: 0.375rem 0.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 0px;
  background: var(--Gray-20);
  flex-shrink: 0;
  color: var(--Primary-70);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}

.loading-container {
  background-color: var(--Primary-130);
}

#btn-check:hover {
  background: var(--Primary-130);
  color: var(--white);
}

#btn-limit {
  background-color: var(--Gray-80);
  color: var(--Gray-100);
  opacity: 1;
  cursor: default;
}

.icon__loader {
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.info__text {
  color: var(--Dark-70);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 0px;
}

.info__text a {
  color: var(--Primary-70);
  text-decoration-line: underline;
}

/* Results */
.result__container {
  margin-top: 1rem;
}

#analyzer-chart {
  width: 9.375rem;
  height: 9.4375rem;
}

.chart__info {
  color: var(--Dark-70);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.chart__info p {
  margin-bottom: 0px;
}

.list__result-link {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.result__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.result__link p {
  margin: 0;
}

.result__link .fw-bold {
  flex: 0 0 auto;
  width: 50%;
}

.result__link .fw-normal {
  flex: 1 1 auto;
}

.badge__link {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
}

.internal__link {
  background: var(--Primary-50);
}

.external__link {
  background: var(--Secondary-50);
}

.no__follow {
  background: var(--Variant-50);
}

.do__follow {
  background: var(--Danger-50);
}

/* Details Tab */
.tab__container-nav {
  width: 100%;
}

.detail__tabs {
  margin: 2rem 0 0.75rem 0;
  justify-content: space-between;
}

.tab-content {
  margin-bottom: 2rem;
}

.nav-link {
  border-bottom: 2px solid var(--Gray-70);
  background: var(--white);
  border-radius: 0px !important;
  color: var(--Gray-100);
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  padding: 0.25rem 2.5px;
  width: 81.5px;
}

.nav-link:hover {
  color: var(--Dark-70);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: transparent;
  color: var(--Dark-70);
  border-color: var(--Dark-70);
}

.list__links {
  display: flex;
  flex-direction: column;
}

.list__link {
  border-bottom: 1px solid var(--Gray-50);
  padding: 0.25rem 0;
  display: flex;
  gap: 0.5rem;
}

.list__link span {
  color: var(--Dark-70);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.list__link span.list__link-url {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
  display: block;
}

.list__link-space {
  justify-content: center;
}

.list__link-space span {
  text-align: center;
  display: block;
}

/* Details Results */
.details__container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1rem;
  justify-content: center;
}

.see__details {
  text-decoration: none;
  border-bottom: 0.125rem solid var(--Primary-70);
  color: var(--Dark-70);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  padding-bottom: 0.25rem;
}

.detail__icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* Without result */
.without__result {
  margin: 2rem 0px 1.75rem 0px;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__no-result {
  width: 2.5rem;
  height: 2.5rem;
}

.description__no-result {
  color: var(--Gray-100);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}
