/* Global Color */
:root {
  --Gray-20: #F9F9F9;
  --Dark-30: #92959C;
  --Gray-50: #F3F3F3;
  --Gray-60: #F0F0F0;
  --Gray-70: #EEE;
  --Gray-80: #D0D0D0;
  --Gray-100: #959595;
  --Dark-60: #3B3F4C;
  --Dark-70: #252A38;
  --Primary-50: #4CAAF7;
  --Primary-70: #1F95F5;
  --Primary-130: #092D49;
  --Secondary-70: #FFBE40;
  --Success-50: #73B38A;
  --Danger-50: #F98181;
  --Secondary-50: #FFCB66;
  --Variant-50: #B47AF1;
  --primary-font: "Helvetica Now Display", sans-serif;
}

.text-14 {
    font-size: 14px;
    line-height: 16px;
}

/* Header */
.header__container{
    display: flex;
    width: 100%;
    min-height: 3.25rem;
    justify-content: space-between;    
    align-items: flex-start;
}

.logo__container{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.logo__img{
    width: 5.53906rem;
    height: 1.5rem;
}

.logo__container span{
    color: var(--Dark-70);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

/* btn */
.btn__login{
    display: flex;
    height: 1.5rem;
    padding: 0.375rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: var(--Gray-20);
    color: var(--Dark-60);
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

/* Hero Extension */
.hero__extension{    
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.icon__extension{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.hero__extension p{
    width: 18.4375rem;
    color: var(--Primary-130);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 0px;
}

/* Alert */
.alert__extension{
    width: 20.4375rem;    
    padding: 0.75rem 2rem 0.75rem 0.75rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: rgba(255, 190, 64, 0.20);
    color: var(--Secondary-70);
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.alert__extension strong{
    font-weight: 500;
    text-decoration: underline;
}

.btn__alert-close{
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 1.25rem;
}

.btn__alert-close:hover{
    cursor: pointer;
}

/* Form */
.form__container{
    display: flex;
    width: 20.4375rem;
    padding: 0.75rem 1rem;
    align-items: center;
    align-content: center;
    gap: 0.625rem 1.25rem;
    flex-wrap: wrap;
    border-radius: 0.25rem;
    background: var(--Primary-70);
    margin-bottom: 0.5rem;
}

.label__url{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

#url-input{
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.btn__form{
    display: flex;
    width: 18.4375rem;
    padding: 0.375rem 0.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--Gray-20);
    flex-shrink: 0;
    color: var(--Primary-70);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}

.icon__loader{
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.info__text{
    color: var(--Dark-70);
    font-family: var(--primary-font);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.info__text a{
    color: var(--Primary-70);
    text-decoration-line: underline; 
}

/* Results */
.result__container{
    margin: 2rem 0px;
}

#analyzer-chart{
   width: 9.375rem;
   height: 9.4375rem; 
}

.chart__info{
    color: var(--Dark-70);
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.chart__info p{
    margin-bottom: 0px;
}

.list__result-link{
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.result__link{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.badge__link{
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
}

.internal__link{    
    background: var(--Primary-50);
}

.external__link{
    background: var(--Secondary-50);
}

.no__follow{
    background: var(--Variant-50);
}

.do__follow{
    background: var(--Danger-50);
}

/* Details Tab */
.tab__container-nav{
    width: 100%;
}

.detail__tabs{
    margin: 2rem 0 0.75rem 0;
}

.tab-content{
    margin-bottom: 2rem;
}

.nav-link{
    border-bottom: 2px solid var(--Gray-70);
    background: var(--white);
    border-radius: 0px!important;
    color: var(--Gray-100);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.25rem 2.5px;
}

.nav-link:hover{
    color: var(--Dark-70);
}

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
    background: transparent;
    color: var(--Dark-70);
    border-color: var(--Dark-70);
}

.list__links{
    display: flex;
    flex-direction: column;
}

.list__link{
    border-bottom: 1px solid var(--Gray-50);
    padding: 0.25rem 0;
}

.list__link span{
    color: var(--Dark-70);
    font-family: var(--primary-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.list__link-space{
    text-align: center;
    display: block;
}

/* Details Results */
.details__container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 1rem;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.see__details{
    text-decoration: none;
    border-bottom: 0.125rem solid var(--Primary-70);
    color: var(--Dark-70);
    text-align: center;
    font-family: var(--primary-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    padding-bottom: 0.25rem;
}

.detail__icon{
    width: 1.25rem;
    height: 1.25rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
    background-color: var(--Primary-130);
}


#btn-check {
    transition: .2s all ease-in-out;
}
#btn-check:hover {
    background: var(--Primary-130);
    color: var(--white);
    transform: translateY(-2px);
}