<!DOCTYPE html>
<html>
  <head>
    <title>Title & Lengths Checker - cmlabs Chrome Extension</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../assets/css/boxicons.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
  </head>

  <body>
    <div class="header__container d-flex justify-content-between align-items-center" id="navbar">
      <div class="row gap-1">
        <div class="col-4 pe-0">
          <img src="https://cmlabs-co.s3.ap-southeast-1.amazonaws.com/logos/cmlabs-logo-new.png" class="img-fluid" alt="logo cmlabs">
        </div>
        <div class="col-7 px-0">
          <div class="app-title mb-0">Title Lengths Checker</div>
        </div>
      </div>
        <button class="btn btn-sm btn-light px-3">Login</button>
    </div>

    <div class="popup">
      <div id="title-length-checker">
        <div
          class="container-loading position-relative d-flex align-items-center flex-column mb-3"
          id="loading">
          <div class="col-12">
            <div class="header">
              <div class="header-img mb-4 d-flex justify-content-center">
                <img class="img-fluid" src="../../assets/images/icons-writing.png" alt="Logo tools">
              </div>
              <div class="text-14 text-center">
                <p>The length of meta-information must be ideal. So, it will display fully in SERP.</p>
              </div>
            </div>
          </div>

          <div id="alert-limit" class="alert-limit alert alert-warning alert-dismissible fade show border-0 d-none" role="alert">
            <p class="alert-p mb-0">
              You have reached the usage limit of this tool. Please <a class="text-warning fw-bold" href="#">log in or register</a> yourself.
            </p>
            <img src="../../assets/icon/close.svg" alt="Logo Close Extension" class="btn__alert-close" data-bs-dismiss="alert" aria-label="Close">
          </div>

          <div class="col-12 bg-primaryblue border-radius-5px row">
            <div class="d-flex gap-3 align-items-center mt-3">
              <img src="../../assets/images/guard-icon.png" alt="">
              <p class="mb-0 text-white text-16" id="url-here">http://....</p>
            </div>
            <div id="check-btn" class="check-stat col-11 rounded-3 mx-auto bg-primarydark d-flex align-items-center my-3 gap-2 justify-content-center">
              <p class="mb-0 text-white text-14">Checking</p>
              <div class="loader">
                <img src="../../assets/images/loader.png" alt="Loading icon">
              </div>
            </div>
            <button id="btn-limit" class="btn btn__form d-none check-stat col-11 rounded-3 mx-auto align-items-center my-3 gap-2 justify-content-center">
              Limit
            </button>
          </div>
          <p id="latest-blog" class="mt-2 mb-0">The checking process will take some time, while waiting please read our latest blog <a href="https://cmlabs.co/blog" target="_blank">here</a></p>
        </div>
        
        <div id="result-container" class="d-none">
          <div class="col-12 bg-primaryblue border-radius-5px row mb-3 mx-auto">
            <div class="d-flex gap-3 align-items-center mt-3">
              <img src="../../assets/images/guard-icon.png" alt="">
              <p class="mb-0 text-white text-wrap text-16 text-ellipsis" id="url-check">http://....</p>
            </div>
              <a href="#" class="check-stat check-stat-btn col-11 rounded-3 mx-auto bg-white d-flex align-items-center gap-2 justify-content-center my-3 text-primaryblue fw-bold text-14 text-decoration-none" id="submit-btn">
                Check Again!
              </a>
          </div>

          <div class="border border-2 border-radius-5px mb-3 mt-4 px-3 py-3">
            <div class="row d-flex flex-column disable-mx">
              <div
                class="d-flex flex-column align-items-center justify-content-between flex-row disable-px"
              >
                <div class="d-flex flex-column align-items-center">
                  <span class="meta-title">PAGE TITLE</span>
                  <div class="progress-bar_wrap d-flex justify-content-center d-none">
                    <div
                      id="titlebar1"
                      class="progress-bar_item progress-bar_item-1 blank"
                    ></div>
                    <div
                      id="titlebar2"
                      class="progress-bar_item progress-bar_item-2 blank"
                    ></div>
                    <div
                      id="titlebar3"
                      class="progress-bar_item progress-bar_item-3 blank"
                    ></div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between w-100 mt-3">
                  <div class="col-3">
                    <div class="text-center">
                      <p class="mb-0 text-dark">
                        <strong class="text-primaryblue text-16" id="title-char">0</strong>
                        <p class="text-secondary text-14 mt-1">Character</p>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-center">
                      <p class="mb-0 text-dark">
                        <strong class="text-16 text-primaryblue" id="title-pixel">0</strong>
                        <p class="text-secondary text-14 mt-1">Pixel</p>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-center">
                      <p class="mb-0 text-dark">
                        <strong class="text-16 text-primaryblue" id="title-word">0</strong>
                        <p class="text-secondary text-14 mt-1">Word</p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <input
                id="title"
                type="text"
                class="form-control bg-white text-dark px-0 input-meta-title mb-2 border-bottom text-14"
                autocomplete="off"
                disabled
              />
              <div
                class="align-items-center d-none disable-px"
                id="title-bad-char"
              >
              <img
                style="width: 20px;"
                class="mr-2"
                src="../../assets/images/alert-icon.png"
              />
            
                <p class="mb-0 alert-text" id="title-bad-char-point">
                  Character More Than 12
                </p>
              </div>
              <div
                class="align-items-center d-none disable-px"
                id="title-bad-pixel"
              >
                <img
                  style="width: 20px"
                  class="mr-2"
                  src="../../assets/images/alert-icon.png"
                />
                <p class="mb-0 alert-text" id="title-bad-pixel-point">
                  Pixel More Than 12px
                </p>
              </div>
            </div>
          </div>
          <div class="border border-2 py-3 px-3 border-radius-5px">
            <div class="row d-flex flex-column disable-mx">
              <div
                class="d-flex flex-column align-items-center justify-content-between flex-row disable-px"
              >
                <div class="">
                  <div class="d-flex flex-column align-items-center">
                    <span class="meta-desc">META DESCRIPTION</span>
                    <div class="progress-bar_wrap d-none">
                      <div
                        id="descbar1"
                        class="progress-bar_item progress-bar_item-1 blank"
                      ></div>
                      <div
                        id="descbar2"
                        class="progress-bar_item progress-bar_item-2 blank"
                      ></div>
                      <div
                        id="descbar3"
                        class="progress-bar_item progress-bar_item-3 blank"
                      ></div>
                    </div>

                  </div>
                </div>
                <div class="row align-items-center justify-content-between w-100 mt-3">
                  <div class="col-3">
                    <div class="text-center">
                      <p class="mb-0 text-dark">
                        <strong class="text-primaryblue text-16" id="desc-char">0</strong>
                        <p class="text-secondary text-14 mt-1">Character</p>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-center">
                      <p class="mb-0 text-dark">
                        <strong class="text-primaryblue text-16" id="desc-pixel">0</strong>
                        <p class="text-secondary text-14 mt-1">Pixel</p>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="text-center">
                      <p class="mb-0 text-dark">
                        <strong class="text-primaryblue text-16" id="desc-word">0</strong>
                        <p class="text-secondary text-14 mt-1">Word</p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <textarea
                id="desc"
                data-autoresize
                class="mb-2 form-control bg-white border-bottom px-0 input-meta-description text-14"
                autocomplete="off"
                disabled
                rows="1"
                style="resize: none; overflow: hidden"
              ></textarea>
              <div
                class="align-items-center d-none disable-px"
                id="desc-bad-char"
              >
                <img
                  style="width: 20px"
                  class="mr-2"
                  src="../../assets/images/alert-icon.png"
                />
                <p class="mb-0 alert-text" id="desc-bad-char-point">
                  Character More Than 12
                </p>
              </div>
              <div
                class="align-items-center d-none disable-px"
                id="desc-bad-pixel"
              >
                <img
                  style="width: 20px"
                  class="mr-2"
                  src="../../assets/images/alert-icon.png"
                />
                <p class="mb-0 alert-text" id="desc-bad-pixel-point">
                  Pixel More Than 12px
                </p>
              </div>
            </div>
          </div>

          <div class="details__container">
            <a href="#" target="_blank" class="see__details" id="link-see-details">Want to see more details? See details</a>
            <img src="../../assets/icon/external-link.svg" alt="icon arrow" class="detail__icon">
          </div>
        </div>
      </div>
    </div>

    <span id="titlesizer"></span>
    <span id="descsizer"></span>
    
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
