<!DOCTYPE html>
<html>
  <head>
    <title>Link Analyzer</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <p>Robots.txt Checker</p>
    <form id="url-form">
      <input
        type="text"
        id="url-input"
        name="url"
        placeholder="Masukkan URL..."
      />
      <button type="submit" id="submit-btn">Analyze Url</button>
    </form>

    <p id="loading"><br />loading...<br /></p>
    <div id="result"></div>

    <script src="./index.js"></script>
  </body>
</html>
