<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Link Analyzer Login</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container p-3" style="min-width: 200px">
      <div class="login-form">
        <div id="loginAlert" class="alert alert-danger d-none" role="alert">
          Login failed. Please try again.
        </div>
        <form>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="inputUsername"
              placeholder="Credentials..."
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
      </div>
    </div>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
