<!DOCTYPE html>
<html>
  <head>
    <title>Link Analyzer</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  </head>
  <body class="p-3" style="width: 300px; margin: 0 auto">
    <h5 class="mb-3">Link Analyzer</h5>
    <form id="url-form">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="url-input"
          name="url"
          placeholder="Masukkan URL..."
        />
      </div>
      <button
        type="submit"
        class="btn btn-success btn-block d-none"
        id="submit-btn"
      >
        Analyze Again
      </button>
    </form>

    <p id="loading" class="d-none"><br />loading...<br /></p>
    <div id="result"></div>

    <a href="" target="_blank" id="preview-detail"></a>

    <script src="../../assets/css/bootstrap.min.js"></script>
    <!-- <script src="../../assets/css/chart.js-4.4.1/package/dist/chart.js"></script> -->
    <script src="./index.js"></script>
  </body>
</html>
