<!DOCTYPE html>
<html>
  <head>
    <title>Link Analyzer</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/popup.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/css/link-analyzer.css"/>
  </head>
  <body>
    <div class="popup">
      <div class="header__container">
        <div class="logo__container">
          <img src="https://cmlabs-co.s3.ap-southeast-1.amazonaws.com/logos/cmlabs-logo-new.png" alt="logo cmlabs" class="logo__img">
          <span>Link Analyzer</span>
        </div>
        <div class="login__container">
          <a href="#" class="btn btn__login">Login</a>
        </div>
      </div>

      <div class="hero__extension">
        <img src="../../assets/icon/globe.svg" alt="Icon Link Analyzer" class="icon__extension">
        <p>Set the index status of the link on your website. Help Google optimize the indexing process and improve the performance of your website.</p>
      </div>

      <div class="alert alert-warning alert-dismissible fade show alert__extension" role="alert">
        You have reached the usage limit of this tool. <strong>log in / register</strong> yourself.
        <img src="../../assets/icon/close.svg" alt="Logo Close Extension" class="btn__alert-close" data-bs-dismiss="alert" aria-label="Close">
      </div>

      <div class="form__container">
        <div class="label__url">
          <img src="../../assets/icon/shape.svg" alt="Icon SSL Checker" class="icon__form">
          <span id="url-input"></span>
        </div>
        <div class="full__col">
          <button href="#" class="btn btn__form" id="submit-btn">
            Analyze Again!
            <img src="../../assets/icon/loader.svg" alt="Icon Loader Extension" class="icon__loader">
          </button>
        </div>
      </div>

      <p class="info__text">The checking process will take some time, while waiting please read our latest blog <a href="#">here</a></p>

      <div class="result__container">
        <div id="result"></div>
      </div>

    </div>

    <p id="loading" class="d-none"><br />loading...<br /></p>
    <a href="" target="_blank" id="preview-detail"></a>

    <script src="../../assets/js/bootstrap.min.js"></script>
    <!-- <script src="../../assets/css/chart.js-4.4.1/package/dist/chart.js"></script> -->
    <script src="../../assets/js/Chart.bundle.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
